$transition--standard: 0.3s ease;

/* ////////////
// TYPOGRAPHY
///////////// */

$font-headings: pill-gothic-300mg, sans-serif;
$font-body: gill-sans-nova, "Helvetica Neue", "Noto Sans", "Liberation Sans",
	Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
	"Noto Color Emoji";
$font-serif: adobe-garamond-pro, serif;

$color-primary: #1c5c87;
$color-primary--light: #b6e0f1;
$color-grey--light: #f4f3f3;
